<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Processing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1 style="font-family: Arial;">WELCOME TO TEXT NORMALIZATION</h1>
    </header>
    <br> <br> <br>
    <div class="container">
        <div class="input-box">
            <form action="{{ url_for('process') }}" method="post">
                <textarea name="input_text" id="input_text" rows="4" placeholder="Enter text here.."></textarea>
               <br>
                <div class="select-container">
                    <select name="option" id="option">
                        <option value="normalize">Normalize Text</option>
                        <option value="stopwords">Remove Stopwords</option>
                        <option value="tokenize_words">Tokenize into Words</option>
                        <option value="tokenize_sentences">Tokenize into Sentences</option>
                        <option value="tokenize_paragraphs">Tokenize into Paragraphs</option>
                    </select>
                    <button type="submit">Process</button>
                </div>
            </form>
        </div>
        {% if processed_text %}
        <div class="result">
            <h2>Processed Text:</h2>
            <p>{{ processed_text }}</p>
        </div>
        {% elif tokenized_result %}
        <div class="result">
            <h2>Tokenized Result:</h2>
            <ul>
                {% if tokenized_result.get("Tokenized Words") %}
                <li><strong>Tokenized Words:</strong> {{ tokenized_result["Tokenized Words"] }}</li>
                {% endif %}
                {% if tokenized_result.get("Tokenized Sentences") %}
                <li><strong>Tokenized Sentences:</strong> 
                    <ul>
                        {% for sentence in tokenized_result["Tokenized Sentences"] %}
                        <li>{{ sentence }}</li>
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
                {% if tokenized_result.get("Tokenized Paragraphs") %}
                <li><strong>Tokenized Paragraphs:</strong> 
                    <ul>
                        {% for paragraph in tokenized_result["Tokenized Paragraphs"] %}
                        <li>{{ paragraph }}</li>
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
    </div>
    <footer>
        <p>&copy; Hari Hara Sudan 2024 Text Normalizer</p>
    </footer>
</body>
</html>
